.jumbotron {
    background-image: url(../images/train_image.jpg);
}

.container {
    margin: 50px;
    padding: 50px;
}

#trainList {
    background-color: yellow;

}

thead {
    background-color: gray;
}